<?php
/* @var $block \Aheadworks\Blog\Block\Sidebar\Tags */
?>
<?php
    $tags = $block->getTagsCollection();
?>
<?php if ($tags->getSize()): ?>
    <div class="aw-blog-sidebar__block aw-blog-sidebar-block">
        <h3 class="aw-blog-sidebar-block__title"><?php echo __('Tags') ?></h3>
        <div class="aw-blog-sidebar-block__content">
            <div class="aw-blog-tags aw-blog-tags--<?php if ($block->isCloud()): ?>cloud<?php else: ?>plain<?php endif; ?>">
                <?php foreach ($tags as $tag): ?>
                    <a href="<?php echo $block->getSearchByTagUrl($tag) ?>" <?php if ($block->isCloud()): ?>style="font-size: <?php echo $block->getTagWeight($tag) ?>%;"<?php endif; ?> class="aw-blog-tags__tag">
                        <?php echo $tag->getName() ?>
                    </a>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>
